@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  overflow: hidden;
  background: #ccc;
}

.toolbar {
  width: 150px;
  height: 75px;
  background: #ccc;
  padding: 5px;
}

input[type="color"],
input[type="button"] {
  width: 90%;
  margin: 0 auto;
  display: block;
}

input[type="range"] {
  width: 70%;
}

span {
  position: relative;
  bottom: 5px;
}

nav {
  background-attachment: scroll;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  border: 1px solid #e8e8e8;
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav {
  transition: all 0.3s ease;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav .logo img {
  width: 70px;
  height: 70px;
}

nav .logo a {
  color: #000;
  font-weight: 600;
}

nav .nav-links {
  display: flex;
  gap: 24px;
}

nav .nav-links a {
  font-size: 14px;
  color: #8f8e8e;
  transition: all 0.3s ease;
}

nav .nav-links a:hover {
  color: #000000;
  font-weight: bold;
}

nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 14px;
  height: 32px;
  width: 122px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

nav button:hover,
.hero .left-section .top .buttons button.doc:hover,
.contact .items .item button:hover {
  color: #000;
  background: #fff;
  border-color: #dedede;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav button i {
  font-size: 20px;
}
