#rendu .item {
  width: 1200px;
}

#certif .item {
  width: 1750px;
  height: 550px;
}

#certif2 .item {
  width: 1750px;
  height: 450px;
}

#pdf .item {
  width: 950px;
}

#pdf .inner {
  width: 950px;
  height: 1000px;
}

#pdf embed {
  width: 900px;
  height: 900px;
}
